footer {
    width: 100%;
    display: inline-block;
    background: $brand-red;
    position: relative;
    z-index: -5;
    padding: 35px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    p {
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    a {
        color: #fff;
        text-decoration: underline;
        transition: color 0.3s;
        &:hover,
        &:focus {
            color: $brand-yellow;
        }
    }
    img {
        display: inline-block;
    }
}