.handleUser {
    button {
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        padding: 15px 5px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
}