// .overlay,
// .modal{
//     visibility: hidden;
// }
ul{
    list-style-type: none;
}
// .overlay {
//     display: none;
//     position: fixed;
//     visibility: hidden;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.5);
// }
.modal {
    visibility: hidden;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    color: $body-color;
    padding: 50px;
    font-size: 30px;
    line-height: 40px;
    z-index: 10;
}

.modal.show,
.overlay.show {
    visibility: visible;
}