.searchWrapper {
    padding: 110px 50px;
}

.movieResult {
    padding: 10px;
    width: calc(20%);
    float: left;
    h1 {
        margin: 10px 0 20px;
        text-align: center;
        background: $brand-red;
        padding: 15px 5px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9rem;
        line-height: 1.3em;
        height: 4rem;
        &:hover {
            background: $body-color;
        }
    }
}