@import "setup";
@import "variables";
@import "mixins";
@import "splash";
@import "nav";
@import "handleUser";
@import "searchResults";
@import "singleMovie";
@import "modal";
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 62.5%;
    color: $body-color;
    line-height: 1.5em;
    // font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $body-color;
}

img {
    max-width: 100%;
}